.item-cart-prod {
    display: flex;
    flex-direction: row;
    position: relative;
}

.item-cart-prod > div{
    margin-bottom: 10px;
}
.cart-prod__image > img{
    width: 100px;
    height: 100px;
}

.cart-prod__action {
    align-self: center;
}

.cart-prod__info {
    min-width: 120px;
}
.cart-button{
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.cart-button a > svg {
    display: flex;
    justify-content: center;
}